@import "../variables.scss";

@font-face {
    font-family: "Alcubierre";
    src: url(../fonts/Alcubierre.otf) format("opentype");
}

html {
    
    body {
        font-family: "Alcubierre" !important;
        font-size: 1.3rem;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: $primary;
    }
}
