@import "../variables.scss";

@font-face {
    font-family: "Alcubierre";
    src: url(../fonts/Alcubierre.otf) format("opentype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $font-size-formula;
    
    body {
        font-family: "Alcubierre";
        color: $secondary;

        ul {
            list-style-type: none;
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }
}
