@import "../variables";

header {
    height: $header-height;
    background-color: $primary;
    padding: 0 50px;
    color: $white;

    nav {
        height: 100%;

        ul {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            a {
                transition: color 0.1s;
                transition-timing-function: ease-in;

                &.bold {
                    font-weight: bold;
                }
    
                &:hover {
                    color: $secondary;
                    transition: color 0.4s;
                }
            }
        }
    }
}