@import "../variables";

header {
    height: $header-height-tablet;
    background-color: $primary;
    padding: 0 50px;
    color: $white;
    font-size: 1.3rem;

    nav {
        height: 100%;

        ul {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
    
            a {
                transition: color 0.1s;
                transition-timing-function: ease-in;

                &.bold {
                    font-weight: bold;
                }
    
                &:hover {
                    color: $secondary;
                    transition: color 0.4s;
                }
            }
        }
    }

    @media (max-width: $bp-smartphone) {
        height: $header-height-smartphone;
        padding: 0 20px;
        font-size: 1rem;

        ul {
            gap: 1.2rem;
        }
    }
}