@import "../variables.scss";

main {

    #first-section {
        padding-top: 50px;
        padding-left: 150px;
        padding-right: 150px;
        padding-bottom: 80px;
        background-color: $primary;
        text-align: center;

        h1 {
            margin-bottom: 80px;
            font-size: 2.2rem;
        }

        img.home-img {
            width: 100%;
            max-height: 700px;
            object-fit: cover;
            object-position: bottom;
            border-radius: 1px;
        }
    }

    #second-section {
        padding-top: 100px;
        padding-left: 150px;
        padding-right: 150px;

        .text-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            .text {
                font-size: 1.2rem;
                line-height: 2rem;

                &.first {
                    text-align: center;
                }

                &.second {
                    text-align: center;
                }
            }

            .arrow-container {
                display: flex;

               .arrow {
                    border-right: 1px solid $primary;
                    height: 2rem;

                    &.left {
                        transform: rotate(-45deg);
                        margin-right: 1.334rem;
                    }

                    &.right {
                        transform: rotate(45deg);
                    }
                }
            }
            
        }
    }

    #third-section {
        padding: 120px 0px;
        position: relative;

        .card-container {
            margin: 0 30px;

            .card {
                width: 100%;
                height: calc(100vw / 2.5);
                object-fit: cover;
                object-position: center;
                transform: scale(0.75);

                &:hover {
                    cursor: pointer;
                }
            }
        }
        
        .slider-btn {
            position: absolute;
            top: 50%;
            cursor: pointer;
            color: $white;
            pointer-events: none;
            font-size: 1.8rem;
    
            &.previous {
                left: calc(100% / 13);
                transform: translate(-50%, -50%);
            }
    
            &.next {
                right: calc(100% / 13);
                transform: translate(50%, -50%);
            }
        }
    }

    @media (max-width: $bp-smartphone) {
        #first-section {
            padding-top: 10px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 60px;

            h1 {
                margin-bottom: 40px;
            }
        }

        #second-section {
            padding-left: 40px;
            padding-right: 40px;
        }

        #third-section {
            padding-top: 50px;
            padding-bottom: 45px;

            .slider-btn {
                display: none;
            }
        }
    }

    @media (max-width: $bp-tablet) {
        #third-section {
            .slider-btn {
                display: none;
            }
        }
    }

    @media (min-width: $bp-smartphone) and (max-width: $bp-lg) {
        #first-section {
            padding-left: 50px;
            padding-right: 50px;
        }

        #second-section {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    @media (min-width: $bp-smartphone) and (max-width: $bp-xl) {
        #first-section {
            h1 {
                font-size: 2.8rem;
            }
        }
        
    }

    @media (min-width: $bp-xl) {
        #first-section {
            h1 {
                font-size: 3rem;
            }
            img.home-img {
                max-height: 700px;
            }
        }
    }
    
}