// FONT-SIZE FORMULA
$font-size-formula: calc(15px + 0.390625vw);

// COLORS
$primary: #b0af96;
$primary-darker: #8c8c78;
$primary-brighter: #bfbfab;
$secondary: #313016;
$secondary-rgb: rgb(176, 175, 150, 0.3);
$tertiary: #f7f7f4;
$border: #674728;
$black: #000;
$white: #fff;

// HEIGHTS
$header-height-tablet: 100px;
$header-height-smartphone: 80px;
$top-footer-height: 180px;
$bottom-footer-height: 50px;

// BREAKPOINTS
$bp-smartphone: 576px;
$bp-tablet: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;

// FONT SIZES